<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
</head>
<body>
    <form method="post" action="/user/<%=user.id%>?_method=DELETE">
        <h2>Delete user : <%= user.username%> </h2>
        <h3>Enter password for confirmation :</h3>
    
        <input type="password" name="password" placeholder="Enter your password">
        <button>Delete</button>
    </form>
</body>
</html>